._4dsf2 {
    justify-content: center;
    align-items: center;
    padding: 1.5%;
    width: 35%;
}

._ds3s {
    margin: 0 auto
}

@media screen and (max-width: 700px) {
    ._4dsf2 {
        width: 80%;
    }

    ._3a23 {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    ._4dsf2 {
        width: 80%;
    }

    ._3a23 {
        display: none;
    }
}

@media screen and (max-width:550px) {
    ._4dsf2 {
        width: 72%;
    }
}

@media screen and (max-width: 400px) {
    ._4dsf2 {
        width: 90%;
    }
}