:-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.bg-black {
    background-color: #000;
}

#logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.navbar-brand {
    padding: 6px 20px;
    font-size: 16px;
}


.btn.btn-flat {
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-width: 1px;
}

.bg-blue {
    background-color: #0073b7 !important;
}

.nav-item {
    padding: 0px 8px;
    margin: 0px 3px;
    text-align: center;
    border-radius: 5px;
}

.nav-item.active {
    background-color: #9E9E9E;
}

.nav-item:hover {
    background-color: #9E9E9E;
}

.nav-link {
    padding: 5px;
}

.navbar-collapse.collapse.in {
    display: block !important;
}

.fa {
    padding-right: 10px;
}

.dropdown-toggle {
    color: gray;
    padding: 3px 10px;
    position: absolute;
}

.dropdown-toggle:hover {
    color: #fff;
}

.dropdown-menu {
    margin-left: 15px;
    width: 120px;
    margin-top: 0px;
}

.dropdown-item:hover {
    background-color: #000;
    color: #fff;
}

@media (max-width: 576px) {
    .nav-item {
        width: 100%;
        text-align: left;
    }
}

.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.small-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.15);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1.0rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 18%);
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}

input[type="checkbox"]:checked:before {
    content: '';
    display: block;
    width: 4px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-left: 4px;
    margin-top: 1px;
}

#idm {
    overflow: scroll;
}

._32p {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    height: fit-content;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

._sd798 {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.dropdown-container {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.options-container {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    min-width: 8rem;
    min-height: 10px;
    font-size: 1.0rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 18%);
}

.options-container div {
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.dropdown-item {
    display: block;
    width: 100%;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-divider {
    height: 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}

.btn-default {
    background-color: #dddbdb;
    color: #fff;
    border: 1px solid #dddbdb
}


.simple-dropdown-container {
    position: relative;
    display: inline-block;
}

.simple-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.simple-dropdown-item {
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #f0f0f0;
    }
}

.success {
    background: #E4FFDE;
    border: 1px solid #8EBD86;
    padding: 10px;
    border-radius: 5px;
    margin: 7px;
    width: auto;
    height: auto;
    color: #333;
    display: block;
}

.success-ico {
    background: url(../images/bullet_add.png) #E4FFDE no-repeat 30px center;
    padding-left: 70px
}